<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PUBLIC</key>
	<dict>
		<key>YES</key>
		<string>是</string>
		<key>NO</key>
		<string>不</string>
		<key>OK</key>
		<string>确定</string>
		<key>CANCEL</key>
		<string>取消</string>
		<key>SAVED</key>
		<string>保存</string>
		<key>SAVE</key>
		<string>保存</string>
		<key>EDIT</key>
		<string>编辑</string>
		<key>DONE</key>
		<string>完成</string>
		<key>SYSTEM_PROMPT</key>
		<string>系统提示</string>
		<key>ON</key>
		<string>开</string>
		<key>OFF</key>
		<string>关</string>
		<key>NO_DATA</key>
		<string>没数据！</string>
	</dict>
	<key>MAIN_PAGE</key>
	<dict>
		<key>SYSTEM_NAME_BELOW</key>
		<string></string>
		<key>alight</key>
		<string>灯</string>
		<key>bhvac</key>
		<string>空调</string>
		<key>czaudio</key>
		<string>音乐</string>
		<key>dshades</key>
		<string>窗帘</string>
		<key>emedia</key>
		<string>多媒体</string>
		<key>fmoods</key>
		<string>心情</string>
		<key>gfan</key>
		<string>风扇</string>
		<key>SYSTEM_NAME_ABOVE</key>
		<string></string>
		<key>MAIN_LABEL</key>
		<array>
			<string>区域控制</string>
			<string>中心控制</string>
			<string>公共服务</string>
		</array>
		<key>MARCO_BUTTONS</key>
		<string>宏命令</string>
		<key>LIGHTS</key>
		<string>灯</string>
		<key>MUSIC</key>
		<string>音乐</string>
		<key>SECURITY</key>
		<string>安防</string>
		<key>CLIMATE</key>
		<string>空调</string>
		<key>SCHEDULE</key>
		<string>计划</string>
		<key>CAMERA</key>
		<string>摄像头</string>
		<key>APPLIANCES</key>
		<string>设备</string>
		<key>INTERCOM</key>
		<string>对讲机</string>
		<key>COMMUNITY</key>
		<string>社区</string>
		<key>HOME_STATUS</key>
		<string>家庭状态</string>
		<key>METERS</key>
		<string>仪表</string>
		<key>WEATHER</key>
		<string>天气</string>
		<key>PHOTO</key>
		<string>相册</string>
		<key>ALARM</key>
		<string>闹钟</string>
		<key>SMS_CONTROL</key>
		<string>短信</string>
	</dict>
	<key>SETTINGS</key>
	<dict>
		<key>SETTINGS</key>
		<string>设置</string>
		<key>NETWORK_SETTINGS</key>
		<string>网络设置</string>
		<key>DATABASE</key>
		<string>数据库上传/下载</string>
		<key>LANGUAGE_SETTINGS</key>
		<string>语言设置</string>
		<key>VERSION</key>
		<string>版本</string>
		<key>TIELE_NEWORK_SETTINGS</key>
		<string>网络设置:</string>
		<key>LOCAL_BUTTON_NAME</key>
		<string>局域网</string>
		<key>INTERNET</key>
		<string>互联网</string>
		<key>DDNS_IP</key>
		<string>域名／IP 地址</string>
		<key>PROMPT_MESSAGE_1</key>
		<string>不能为空</string>
		<key>PROMPT_MESSAGE_2</key>
		<string>没链接网络，不能通过域名得到IP 地址</string>
		<key>PROMPT_MESSAGE_3</key>
		<string>IP 地址不符合，请检查</string>
		<key>FTP_SERVER_SETTINGS</key>
		<string>FTP 服务器设置</string>
		<key>FTP_SERVER_ADDRESS</key>
		<string>FTP 服务器 地址</string>
		<key>USER_NAME</key>
		<string>用户名</string>
		<key>PASSWORD</key>
		<string>密码</string>
		<key>UPLOAD</key>
		<string>上传</string>
		<key>DATABASE_UPLOAD</key>
		<string>数据库上传</string>
		<key>DOWNLOAD</key>
		<string>下载</string>
		<key>DATABASE_DOWNLOAD</key>
		<string>数据库下载</string>
		<key>PROMPT_MESSAGE_4</key>
		<string>从此iPhone/iPad 上传数据库到 FTP 服务器；数据库的名字必须是“Database.sqlite3”.</string>
		<key>PROMPT_MESSAGE_5</key>
		<string>从FTP 服务器下数据库到此iPhone/iPad;数据库的名字必须是“Database.sqlite3”;且必须放在FTP 服务器的根目录下</string>
		<key>PROMPT_MESSAGE_6</key>
		<string>连接中...</string>
		<key>PROMPT_MESSAGE_7</key>
		<string>请检查FTP 服务器的地址</string>
		<key>PROMPT_MESSAGE_8</key>
		<string>请填写全部内容</string>
		<key>PROMPT_MESSAGE_9</key>
		<string>此设备上的数据库会被将要下载的替换，您备份了吗，确定要这么做吗？</string>
		<key>PROMPT_MESSAGE_10</key>
		<string>上传完成</string>
		<key>PROMPT_MESSAGE_11</key>
		<string>连结失败！</string>
	</dict>
	<key>HVAC_IN_ZONE</key>
	<dict>
		<key>LABEL_HVAC_OFF</key>
		<string>空调关</string>
		<key>FAN_BUTTON_NAMES</key>
		<array>
			<string>低风</string>
			<string>中风</string>
			<string>高风</string>
			<string>自动</string>
		</array>
		<key>MODE_BUTTON_NAMES</key>
		<array>
			<string>制冷</string>
			<string>制热</string>
			<string>通风</string>
			<string>自动</string>
		</array>
		<key>AC_FAST_CTRL</key>
		<array>
			<string>制冷</string>
			<string>凉快</string>
			<string>暖和</string>
			<string>制热</string>
		</array>
	</dict>
	<key>SHADE_IN_ZONE</key>
	<dict>
		<key>SHADE_OPE</key>
		<string>开</string>
		<key>SHADE_CLOSE</key>
		<string>关</string>
		<key>SHADE_STOP</key>
		<string>停</string>
		<key>SENDING</key>
		<string>在发送</string>
		<key>EXECUTED</key>
		<string>执行了</string>
	</dict>
	<key>MOOD_IN_ZONE</key>
	<dict>
		<key>LABEL_ADD_NEW</key>
		<string>请按下面的按钮来增加心情</string>
		<key>RECORD_MOOD</key>
		<string>录制心情</string>
		<key>MOOD_NAME</key>
		<string>心情名字</string>
		<key>SELECT_ICON</key>
		<string>选择图片</string>
		<key>EDIT_MOOD</key>
		<string>编辑心情</string>
		<key>RECORD</key>
		<string>录制</string>
		<key>CHOOSE_ICON_FOR_MOOD</key>
		<string>请为心情选择图片</string>
		<key>SHADE_BYPASS</key>
		<string>忽略</string>
		<key>SHADE_OPEN</key>
		<string>打开</string>
		<key>SHADE_CLOSE</key>
		<string>关闭</string>
		<key>PROMPT_MESSAGE_1</key>
		<string>你确定取消执行上次的心情，执行这一次吗？</string>
		<key>PROMPT_MESSAGE_2</key>
		<string>不能读选择设备的原因</string>
		<key>PROMPT_MESSAGE_3</key>
		<string>1-请检查设备状态</string>
		<key>PROMPT_MESSAGE_4</key>
		<string>2-请检查网络状态</string>
		<key>PROMPT_MESSAGE_5</key>
		<string>为了录制一个心情：</string>
		<key>PROMPT_MESSAGE_6</key>
		<string>1-必须选择至少一个设备</string>
		<key>PROMPT_MESSAGE_7</key>
		<string>2-新增心情的名字必须是唯一的</string>
		<key>PROMPT_MESSAGE_8</key>
		<string>录制中，请等待</string>
		<key>PROMPT_MESSAGE_9</key>
		<string>录制失败，没有数据需要录制</string>
	</dict>
	<key>MEDIA_IN_ZONE</key>
	<dict>
		<key>MUTE</key>
		<string>静音</string>
		<key>MENU</key>
		<string>菜单</string>
		<key>SOURCE</key>
		<string>源</string>
		<key>CONTROL</key>
		<string>控制</string>
		<key>NUM_PAD</key>
		<string>数字键盘</string>
		<key>CHANNEL</key>
		<string>频道</string>
		<key>SAT_CH_SETTINGS</key>
		<string>频道编辑</string>
		<key>DELAY_FOR_IR</key>
		<string>时间间隔</string>
		<key>FAV</key>
		<string>FAV.</string>
		<key>NO_CHANNEL</key>
		<string>没选择频道</string>
		<key>CATEGORY</key>
		<string>类别</string>
		<key>CATEGORY_SETTINGS_TITLE</key>
		<string>类别设置</string>
		<key>LABEL_CATEGORY</key>
		<string>类别名称</string>
		<key>ADD</key>
		<string>添加</string>
		<key>PROMPT_MESSAGE_2</key>
		<string>类比名不能为空也不能重复</string>
		<key>PROMPT_MESSAGE_3</key>
		<string>红外延时，范围在50～5000毫秒</string>
		<key>PROMPT_MESSAGE_4</key>
		<string>频道号必须是少于4个数字，且不重复</string>
		<key>PROMPT_MESSAGE_5</key>
		<string>频道名字不能为空，且不能重复</string>
		<key>PROMPT_MESSAGE_6</key>
		<string>频道名字不能为空，且不能重复</string>
	</dict>
	<key>MARCO_ACTION_BUTTON</key>
	<dict>
		<key>TITLE_NAME</key>
		<string>宏命令</string>
	</dict>
	<key>CENTRAL_LIGHTS</key>
	<dict>
		<key>TITLE_NAME</key>
		<string>中心控制灯</string>
		<key>ALL_LIGHT_ON</key>
		<string>全开</string>
		<key>ALL_LIGHT_OFF</key>
		<string>全关</string>
		<key>SELECTED_ITEM</key>
		<string>选中的是：</string>
		<key>PROMPT_MESSAGE_1</key>
		<string>你想取消上次发送，执行这一次吗</string>
	</dict>
	<key>SECURITY</key>
	<dict>
		<key>TITLE_NAME</key>
		<string>安防</string>
		<key>SELECT_SECURITY_MODE</key>
		<string>选中的是：</string>
		<key>MODE_BUTTON_NAME</key>
		<array>
			<string>离开</string>
			<string>夜晚</string>
			<string>晚上预约</string>
			<string>白天</string>
			<string>假期</string>
			<string>愉快</string>
			<string>报警</string>
			<string>急救</string>
		</array>
		<key>TYPE_PASSWORD</key>
		<string>输入密码</string>
		<key>PROMPT_MESSAGE_0</key>
		<string>执行了！</string>
		<key>PROMPT_MESSAGE_1</key>
		<string>请先选择模式</string>
		<key>PROMPT_MESSAGE_2</key>
		<string>失败了</string>
		<key>OLD_PASSWORD</key>
		<string>原始密码</string>
		<key>NEW_PASSWORD</key>
		<string>新密码</string>
		<key>PROMPT_MESSAGE_3_0</key>
		<string>默认秘密是</string>
		<key>PROMPT_MESSAGE_3</key>
		<string>报警和急救 长按2秒 去使用</string>
		<key>PROMPT_MESSAGE_4</key>
		<string>原始密码不正确</string>
		<key>PROMPT_MESSAGE_5</key>
		<string>密码必须是4位数字</string>
		<key>PROMPT_MESSAGE_6</key>
		<string>你确定要修改密码吗</string>
	</dict>
	<key>CLIMATE</key>
	<dict>
		<key>TITLE_NAME</key>
		<string>空调</string>
		<key>SELECTED_ITEM</key>
		<string>选择的是：</string>
		<key>ALL_AC_ON</key>
		<string>全开</string>
		<key>ALL_AC_OFF</key>
		<string>全关</string>
		<key>ALL_AC_MODE</key>
		<array>
			<string>制冷</string>
			<string>凉快</string>
			<string>制热</string>
			<string>暖和</string>
		</array>
	</dict>
	<key>CAMERA</key>
	<dict>
		<key>TITLE_NAME</key>
		<string>摄像头</string>
	</dict>
	<key>RECORD</key>
	<dict>
		<key>TITLE_NAME</key>
		<string>录音</string>
		<key>RECORD</key>
		<string>录音</string>
		<key>PREVIEW</key>
		<string>预览</string>
		<key>STOP1</key>
		<string>停止</string>
		<key>STOP</key>
		<string>停止</string>
		<key>DELETE</key>
		<string>删除</string>
		<key>UPLOAD_TO_FTP</key>
		<string>上传到FTP</string>
		<key>FTP_SERVER_IP</key>
		<string>FTP 服务器地址</string>
		<key>USER_NAME</key>
		<string>用户名</string>
		<key>PASSWORD</key>
		<string>密码</string>
		<key>UPLOADING</key>
		<string>上传中...</string>
		<key>PROMPT_MESSAGE_1</key>
		<string>请选择一个录音文件</string>
		<key>PROMPT_MESSAGE_2</key>
		<string>必须有个文件夹名字是“Record”，录音将被上传到该文件夹下，否则，Z-Audio不能播放录音</string>
		<key>PROMPT_MESSAGE_3</key>
		<string>您所输入的IP 地址不符合，请检查</string>
		<key>PROMPT_MESSAGE_4</key>
		<string>成功了！要播放上传的录音，Z-Audio 要更新FTP列表</string>
		<key>PROMPT_MESSAGE_5</key>
		<string>请检查您的网络和FTP 服务器，确保其在运行</string>
		<key>PROMPT_MESSAGE_6</key>
		<string>该录音文件已经存在了</string>
	</dict>
	<key>SCHEDULE</key>
	<dict>
		<key>TITLE_NAME</key>
		<string>计划</string>
		<key>SCHEDULE_NAME</key>
		<string>计划名称</string>
		<key>FREQUENCY</key>
		<string>频率</string>
		<key>DATE_TIME</key>
		<string>时间</string>
		<key>VALIDITY</key>
		<string>是否开启</string>
		<key>ONE_TIME</key>
		<string>一次</string>
		<key>DAILY</key>
		<string>每天</string>
		<key>WEEKLY</key>
		<string>每周</string>
		<key>ADD_NEW</key>
		<string>添加</string>
		<key>EDIT_SCHEDULE</key>
		<string>编辑计划</string>
		<key>ADD_NEW_SCHEDULE</key>
		<string>增加新计划</string>
		<key>CONTROLLED_ITEM</key>
		<string>控制项</string>
		<key>MACRO_BUTTONS</key>
		<string>宏按钮</string>
		<key>ALARM_CLOCK_BELL</key>
		<string>提醒铃声</string>
	</dict>
	<key>Z_AUDIO</key>
	<dict>
		<key>SONG_CATEGORY_LIST</key>
		<string>歌曲类别</string>
		<key>ALBUMS_LIST</key>
		<string>类别列表</string>
		<key>ADD_TO_QUE</key>
		<string>增加到队列</string>
		<key>PLAY_QUE</key>
		<string>播放队列</string>
		<key>STOP_QUE</key>
		<string>停止播放队列</string>
		<key>QUE_START</key>
		<string>开始队列播放</string>
		<key>ZONE_LIST</key>
		<string>区域列表</string>
		<key>CHOOSE_ZONE</key>
		<string>选择区域</string>
		<key>ADD_SUCCEED</key>
		<string>增加成功</string>
		<key>UPDATE_FTP</key>
		<string>更新FTP</string>
		<key>REPEAT_OFF</key>
		<string>单曲播放</string>
		<key>REPEAT_ONE</key>
		<string>单曲循环</string>
		<key>CONTINUED</key>
		<string>顺序播放</string>
		<key>REPEAT_ALL</key>
		<string>循环播放</string>
		<key>PROMPT_MESSAGE_0</key>
		<string>读取列表失败，请检查网络和区域设置</string>
		<key>PROMPT_MESSAGE_1</key>
		<string>Z-Audio 在更新FTP服务器的歌曲，需要用几分钟，请等待</string>
		<key>PROMPT_MESSAGE_2</key>
		<string>当前播放歌曲的歌曲列表还没被读取，如果继续音乐会停止，是否继续？</string>
		<key>PROMPT_MESSAGE_3</key>
		<string>请选择区域！</string>
		<key>PROMPT_MESSAGE_4</key>
		<string>现在还没区域数据，请往数据库文件里添加区域信息</string>
		<key>PROMPT_MESSAGE_5</key>
		<string>至少要选择一个区域</string>
		<key>PROMPT_MESSAGE_6</key>
		<string>无法连接Z-Audio,请检查设置和网络</string>
		<key>PROMPT_MESSAGE_7</key>
		<string>失败，请重试</string>
		<key>PROMPT_MESSAGE_8</key>
		<string>操作成功</string>
		<key>PROMPT_MESSAGE_9</key>
		<string>队列里没有歌曲，请增加，晃动手机能选择播放模式</string>
		<key>PROMPT_MESSAGE_10</key>
		<string>长按2秒前往清除临时数据和更新FTP的界面</string>
		<key>PROMPT_MESSAGE_11</key>
		<string>清除手机中SD卡的临时数据</string>
		<key>PROMPT_MESSAGE_12</key>
		<string>如果Z-Audio中SD卡的音乐发生改变，需要清除手机中临时数据，重新读取</string>
		<key>PROMPT_MESSAGE_13</key>
		<string>清除手机中FTP的临时数据</string>
		<key>PROMPT_MESSAGE_14</key>
		<string>如果Z-Audio中FTP的音乐发生改变，需要清除手机中临时数据，重新读取</string>
		<key>PROMPT_MESSAGE_15</key>
		<string>通知Z-Auido更新FTP 服务器的列表</string>
	</dict>
	<key>REMAINING</key>
	<dict>
		<key>FTP_DOWN_PROMPT_1</key>
		<string>下载完成，请关闭程序，重新启动</string>
		<key>PUBLIC_SUCCEED</key>
		<string>成功了</string>
		<key>MEDIA_TITLE_BUTTON_BELOW</key>
		<string></string>
		<key>aMed_TV</key>
		<string>电视</string>
		<key>bMed_AppleTV</key>
		<string>苹果电视</string>
		<key>cMed_DVD</key>
		<string>DVD</string>
		<key>dMed_Projector</key>
		<string>投影仪</string>
		<key>eMed_SAT</key>
		<string>卫星电视</string>
		<key>MEDIA_TITLE_BUTTON_ABOVE</key>
		<string></string>
		<key>Z-AUDIO_TITLE_BUTTON_BELOW</key>
		<string></string>
		<key>A_SD_CARD</key>
		<string>SD卡</string>
		<key>B_NETWORK</key>
		<string>FTP</string>
		<key>C_IPHONE</key>
		<string>手机</string>
		<key>D_RADIO</key>
		<string>收音机</string>
		<key>E_AUDIO_IN</key>
		<string>外接音乐</string>
		<key>Z-AUDIO_TITLE_BUTTON_ABOVE</key>
		<string></string>
		<key>SCHEDULE_CONTROLLED_ITEM</key>
		<array>
			<string>宏命令</string>
			<string>心情</string>
			<string>灯</string>
			<string>空调</string>
			<string>音乐</string>
			<string>窗帘</string>
		</array>
		<key>FROM_LOGO_LIBRARY</key>
		<string>Logo库</string>
		<key>FROM_PHOTOS</key>
		<string>从相册选取</string>
		<key>EDIT_LOGO</key>
		<string>编辑Logo</string>
		<key>CHOOSE_LOGO_FOR_CHANNEL</key>
		<string>清为频道选择Logo</string>
		<key>Z_AUDIO_SEARCH_PLAYING</key>
		<string>松手查找正在播放的歌曲</string>
		<key>Z_AUDIO_SEARCH_PLAYING_2</key>
		<string>下拉可以搜索并跳动现在播放的歌曲</string>
		<key>Z_AUDIO_SEARCHING</key>
		<string>寻找中...</string>
	</dict>
</dict>
</plist>
